.checkbox_list_container {
	display: grid;
	grid-template-columns: 49% 49%;
	justify-content: space-between;
	column-gap: 20px;
}

@media screen and (max-width: 767px) {
	.checkbox_list_container {
		display: block;
		grid-template-columns: 100%;
	}
}
