.navbar {
	display: none;
	align-items: center;
}

.navbar_navlink_seperator {
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 500;
	color: rgb(239, 83, 102);
}

@media screen and (min-width: 991px) {
	.navbar {
		display: flex;
	}
}

@media screen and (min-width: 1199px) {
	.navbar_navlink_seperator {
		margin-left: 19px;
		margin-right: 19px;
	}
}
